html {background: #001B33; color: #FFFAC7;}
body {  font-family: "Lato", sans-serif;}
button {color:white;background-color:#024B8B;border:1px solid yellow;border-radius:10px;font-size:20px;}
button:hover {background:#53A9F4;}
h1,h2 {text-decoration:underline;}
a {color:white;}
a:visited {color:white;}
a:hover {color:#0066ff;}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {color: #f1f1f1;}

.main {margin-left: 200px; /* Same as the width of the sidenav */}

.fit {width:90%}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
